<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/inc.html}">
<head>
    <meta charset="UTF-8">
    <title>QBoard Modify</title>
</head>
<body>
<div layout:fragment="content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form name="frmMod" method="post" class="form-horizontal">
        <div class="form-group row">
            <label th:for="id" hidden>ID</label>
            <input type="text" name="id" class="form-control" placeholder="id" th:value="${#authentication.principal.mid}" hidden>
        </div>

        <div class="form-group">
            <label th:for="nickname">NickName</label>
            <input type="text" class="form-control"  name="nickname" th:value="${#authentication.principal.nickname}" readonly>
        </div>

        <input type="hidden" name="qnaBoardNo" th:value="${dto.qnaBoardNo}">
        <div class="form-group row">
            <label class="col-sm-2 control-label">번호</label>
            <div class="col-sm-3">
                <input name="qnaBoardNo" type="text" class="form-control" th:value="${dto.qnaBoardNo}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">제목</label>
            <div class="col-sm-5">
                <input name="title" type="text" class="form-control" th:value="${dto.title}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">내용</label>
            <div class="col-sm-8">
        <textarea name="content" id="content" cols="50" rows="5" class="form-control" placeholder="content"
                  th:value="${dto.content}" style="width:700px; height:500px;"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="reset" class="btn btn-primary listBtn">목록</button>
                <button type="submit" class="btn btn-primary modBtn">수정</button>
                <button class="btn btn-danger removeBtn">삭제</button>
            </div>
        </div>
    </form>
    <!--    <script type="text/javascript" src="/smarteditor2/js/HuskyEZCreator.js" charset="UTF-8"></script>-->
    <!--    <script> // 네이버 에디터 추가-->
    <!--    let oEditors = []; // 전역으로 설정 하기 위해 위치 변경-->
    <!--    document.addEventListener("DOMContentLoaded", function () {-->
    <!--        nhn.husky.EZCreator.createInIFrame({-->
    <!--            oAppRef: oEditors,-->
    <!--            elPlaceHolder: "content", // id가 content인 요소를 지정-->
    <!--            sSkinURI: "/smarteditor2/SmartEditor2Skin.html",-->
    <!--            fCreator: "createSEditor2"-->
    <!--        });-->
    <!--    });-->
    <!--    </script>-->
</div>

<script layout:fragment="script" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function (e) {
        const frmMod = document.querySelector('form[name=frmMod]');
        const link = [[${pageRequestDTO.getLink()}]];

        document.querySelector('.listBtn').addEventListener('click', function () { // 리스트 버튼 클릭시 동작
            self.location = `/qboard/list?${link}`;
        });

        document.querySelector('.modBtn').addEventListener('click', function (e) { // 수정 버튼 클릭시 동작
            e.preventDefault();
            e.stopPropagation();
            // oEditors.getById['contentMQ'].exec("UPDATE_CONTENTS_FIELD", []); // 에디터에 있던 내용을 원 경로로 컴파일
            frmMod.action = `/qboard/modify`;
            frmMod.method = 'post';
            frmMod.submit();

        });

        document.querySelector('.removeBtn').addEventListener('click', function (e) { // 삭제 버튼 클릭시 동작
            e.preventDefault();
            e.stopPropagation();

            if (confirm("정말 삭제하시겠습니까?")) {
                frmMod.action = `/qboard/remove`;
                frmMod.method = 'post';
                frmMod.submit();
            }
        });
    });
</script>
</body>
</html>