<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/menteeBoardList(nickname=${memberDTO.nickname})}">[[${memberDTO.nickname}]]님이 쓴 글     ></a>
<a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/menteeBoardList(nickname=${memberDTO.nickname})}">[[${memberDTO.nickname}]]님이 쓴 글     ></a>
<a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/menteeBoardList(nickname=${memberDTO.nickname})}">[[${memberDTO.nickname}]]님이 쓴 글     ></a>

</body>
</html>