<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />  <!-- Favicon-->
  <link th:href="@{/css/myPage.css}" rel="stylesheet" />  <!-- Core theme CSS (includes Bootstrap)-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script><!-- Bootstrap core JS-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Do+Hyeon&family=Orbit&family=Poor+Story&display=swap" rel="stylesheet">  <script th:src="@{/js/myPage.js}"></script> <!--마이페이지 레이아웃 JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
</head>
<th:block layout:fragment="style">

</th:block>

<style>
  @import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

  .outerSidebar{
    background: #2E4374;
    color: #ffffff;
    border: none;
    padding-left: 20px;
  }
  .list-group-item{
    background: #2E4374;
    color: #ffffff;
    border: none;
    font-size: 15pt;
    font-family: 'Orbit', sans-serif;
  }
  .sidebar_header{
    font-weight: bold;
    font-size: 30px;
    border: none;
    font-family: 'Do Hyeon', sans-serif;
  }

  /*#sidebarToggle{*/
  /*  background-color: #2f87ff;*/
  /*  border: none;*/
  /*  color: #6e6e6e;*/
  /*  font-family: 'Do Hyeon', sans-serif;*/
  /*}*/

  .btnLightBlue {
    background: #E5C3A6;
  }


  button.button {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #5e5e5e;
    border-radius: 5px;
    transition: all 0.2s ;
    border: none;
    font-family: 'Assistant', sans-serif;}
  /* 3D */

  .btnLightBlue.btnPush {
    box-shadow: 0px 5px 0px 0px #e09f66;
  }

  .btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .btnLightBlue.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #e09f66;
  }

  .profileBox {
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 100px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  .nicknameSpan {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
  }
  .reviewBox {
    font-family: 'Orbit', sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
  }
  .num {
    font-weight: bold;
  }
  .reviewSpan {
    margin-top: 5px;
  }

  /* 모달 스타일 */
  .notifyModal {
    display: none;
    border: black solid 2px;
    left: auto;
    position: absolute;
    top: 70px;
    width: 200px;
    height: 100%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
    /*justify-content: center;*/
    /*align-items: center;*/
  }
  .notifyCnt{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    bottom: 0;
    right: 13px;
    color: red
  }
  /* 닫기 버튼 스타일 */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
</style>
<body>
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->


  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg" style="background-color: #0766AD;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/main"><img class="mainImage" src="/assets/progrow2.png" style="width: 110px; height: 90px;"/></a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/main">멘토링 목록</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/board/list">게시판</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/qboard/list">Q&A 게시판</a></li>
            <th:block th:if="${#authentication.principal == 'anonymousUser' || #authentication.principal.getPasswd() == '1111'}"> <!-- 비회원 -->
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/member/login">로그인</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/member/agreement">회원가입</a></li>
            </th:block>
            <th:block th:if="${#authentication.principal != 'anonymousUser' && #authentication.principal.getPasswd() != '1111'}"><!-- 회원 로그인 -->
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout">로그아웃</a></li>
              <th:block sec:authorize="hasRole('ROLE_MENTOR')"> <!--멘토 로그인시-->
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/mypage/mentorProfile(nickname=${#authentication.principal.getNickname()})}">마이페이지</a></li>
              </th:block>
              <th:block sec:authorize="hasRole('ROLE_MENTEE')"> <!--멘티 로그인시-->
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/mypage/menteeProfile(nickname=${#authentication.principal.getNickname()})}">마이페이지</a></li>
              </th:block>
              <li class="nav-item mx-0 mx-lg-1" style="position: relative;">
                <div class="notify" >
                  <img src="/img/basic/notify.png" alt="알림 이미지" height="50" width="50">
                  <span class="notifyCnt"></span>
                </div>
                <div id="notifyModal" class="notifyModal" style="font-size: 12px;">
                  <!-- 모달 내용 -->
                  <span class="close" onclick="closeNotifyModal()">&times;</span>
                  <span class="newNotifyList"></span>
                </div>
              </li>
            </th:block>
            <li class="nav-item active">
              <a class="nav-link" href="/main" style="color: white; font-family: 'Orbit', sans-serif;">HOME</a>
            </li>
            <th:block th:unless="${#authentication.principal == 'anonymousUser'}">
                <th:block th:if="${#authentication.principal.getNickname() == memberDTO.nickname}">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                     data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-family: 'Orbit', sans-serif;">개인정보</a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <th:block sec:authorize="hasRole('ROLE_MENTOR')">
                      <a class="dropdown-item" th:href="|@{/member/mentorModify}|" style="font-family: 'Orbit', sans-serif;">개인정보 수정</a>
                      <a class="dropdown-item" th:href="|@{/mypage/mainListTor}|" style="font-family: 'Orbit', sans-serif;">멘토링 목록</a>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_MENTEE')">
                      <a class="dropdown-item" th:href="|@{/member/menteeModify}|" style="font-family: 'Orbit', sans-serif;">개인정보 수정</a>
                      <a class="dropdown-item" th:href="|@{/member/mentorApply}|" style="font-family: 'Orbit', Sans-serif;">멘토 신청하기</a>
                      <a class="dropdown-item" th:href="|@{/mypage/mainListTee}|" style="font-family: 'Orbit', sans-serif;">멘토링 목록</a>
                    </th:block>
                    <a class="dropdown-item" id="privacyModify" href="#" style="font-family: 'Orbit', sans-serif;">회원 탈퇴</a>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item"></span>
                  </div>
                </li> <!--End Nav Dropdown-->
              </th:block>
            </th:block>
          </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100px;">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">

          </ul>
        </div> <!--End Collapse-->

      </div> <!--End Container-->
    </nav> <!--End Nav-->
    <div style="display: flex;">
      <div class="outerSidebar" id="sidebar-wrapper" style="border: none; width: 300px; margin-left: 100px">

        <!--비로그인시 멘토, 멘티 유저 프로필-->
        <th:block th:if="${#authentication.principal == 'anonymousUser'}">
          <div class="sidebar-heading border-none">
            <span class="sidebar_header">[[${memberDTO.nickname}]]님의 프로필</span>
          </div> <!--End Sidebar Head-->
          <div class="profileBox"> <!-- 회원의 간단한 정보영역 -->
            <th:block th:if="${memberRole == 0}">
              <div class="reviewBox">
                <span class="reviewSpan">수강평 수  <span class="num">[[${reviewCnt}]]</span></span>
                <span class="reviewSpan">평균평점  <span class="num">[[${mentorDTO.score}]]</span></span>
              </div>
            </th:block>
            <th:block th:if="${memberRole == 1}">
              <div class="reviewBox">
                <span class="reviewSpan">작성한 수강평 수 <span class="num">[[${reviewCnt}]]</span></span>
              </div>
            </th:block>
          </div>
          <div class="list-group list-group-flush" style="margin-top: -30px">
            <th:block th:if="${memberRole == 0}">
              <a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/mentorProfile(nickname=${memberDTO.nickname})}">홈</a>
            </th:block>
            <th:block th:if="${memberRole == 1}">
              <a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/menteeProfile(nickname=${memberDTO.nickname})}">홈</a>
            </th:block>
            <a class="list-group-item list-group-item-action list-group-item p-3" href="/mypage/introduce">[[${memberDTO.nickname}]]님의 소개</a>
            <a class="list-group-item list-group-item-action list-group-item p-3" href="/mypage/write">[[${memberDTO.nickname}]]님이 쓴 글</a>
          </div> <!--End List Group Flush-->
        </th:block>

        <!--로그인시 다른 멘토, 멘티 프로필 시작-->
        <th:block th:unless="${#authentication.principal == 'anonymousUser'}">
          <th:block th:if="${#authentication.principal.getNickname() != memberDTO.nickname}">
            <div class="sidebar-heading border-none">
              <span class="sidebar_header">[[${memberDTO.nickname}]]의 프로필</span>
            </div> <!--End Sidebar Head-->
            <div class="profileBox"> <!-- 회원의 간단한 정보영역 -->
              <th:block th:if="${memberRole == 0}">
                <div class="reviewBox">
                  <span class="reviewSpan">수강평 수  <span class="num">[[${reviewCnt}]]</span></span>
                  <span class="reviewSpan">평균평점  <span class="num">[[${mentorDTO.score}]]</span></span>
                </div>
              </th:block>
              <th:block th:if="${memberRole == 1}">
                <div class="reviewBox">
                  <span class="reviewSpan">작성한 수강평 수 <span class="num">[[${reviewCnt}]]</span></span>
                </div>
              </th:block>
            </div>
            <div class="list-group list-group-flush">
              <th:block th:if="${memberRole == 0}">
                <a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/mentorProfile(nickname=${memberDTO.nickname})}">홈</a>
              </th:block>
              <th:block th:if="${memberRole == 1}">
                <a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/menteeProfile(nickname=${memberDTO.nickname})}">홈</a>
              </th:block>              <a class="list-group-item list-group-item-action list-group-item p-3" href="/mypage/introduce">[[${memberDTO.nickname}]]님의 소개</a>
              <a class="list-group-item list-group-item-action list-group-item p-3" href="/mypage/write">[[${memberDTO.nickname}]]님이 쓴 글</a>
            </div> <!--End List Group Flush-->
          </th:block>

          <th:block sec:authorize="hasRole('ROLE_MENTOR')"> <!--멘토 마이페이지-->
            <th:block th:if="${#authentication.principal.getNickname() == memberDTO.nickname}">
              <div class="sidebar-heading border-none">
                <span class="sidebar_header" style="font-size: 40px">마이페이지</span>
              </div> <!--End Sidebar Head-->

              <!-- 회원 간단 정보 시작 -->
              <div class="profileBox" >
                <span class="nicknameSpan">[[${memberDTO.nickname}]]님</span>
                <div class="reviewBox">
                  <span class="reviewSpan">수강평 개수  <span class="num">[[${reviewCnt}]]</span></span>
                  <span class="reviewSpan">평균평점  <span class="num">[[${mentorDTO.score}]]</span></span>
                </div>
              </div>
              <!-- 회원 간단 정보 끝-->

              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/mentorProfile(nickname=${#authentication.principal.getNickname()})}">홈</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="/mypage/introduce">나의 소개</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="/mypage/write">내가 쓴 글</a>
              </div> <!--End List Group Flush-->
            </th:block>
          </th:block> <!--End 멘토 마이페이지-->

          <th:block sec:authorize="hasRole('ROLE_MENTEE')"> <!--멘티 마이페이지-->
            <th:block th:if="${#authentication.principal.getNickname() == memberDTO.nickname}">
              <div class="sidebar-heading border-none">
                <span class="sidebar_header" style="font-size: 40px">마이페이지</span>
              </div> <!--End Sidebar Head-->
              <div class="profileBox"> <!-- 회원의 간단한 정보영역 -->
                <div class="reviewBox">
                  <span class="reviewSpan">작성한 수강평 수 <span class="num">[[${reviewCnt}]]</span></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item p-3" th:href="@{/mypage/menteeProfile(nickname=${#authentication.principal.getNickname()})}">홈</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="/mypage/introduce">나의 소개</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="/mypage/write">내가 쓴 글</a>
              </div> <!--End List Group Flush-->
            </th:block>
          </th:block> <!--End 멘티 마이페이지-->
        </th:block>
      </div> <!--End OuterSidebar-->
      <div class="container" layout:fragment="content">

      </div>
    </div>
  </div> <!--End Wrapper-->
</div> <!--End D-flex-->

<script th:inline="javascript">
  const notifyUser = [[${#authentication.principal}]]

  const notifyBtn = document.querySelector('.notify');
  const notifyCnt = document.querySelector('.notifyCnt');
  const newNotifyList = document.querySelector('.newNotifyList');

  if(notifyUser!=="anonymousUser"){
    countNotify().then(data => {

      if(parseInt(data) === 0){
        notifyCnt.style.display = 'none';
      }
      else{
        notifyCnt.textContent=data;
      }
    });
    //알람 버튼 클릭시 알림 모달
    notifyBtn.addEventListener('click', function(){
      document.getElementById('notifyModal').style.display = 'flex';
      notifyCnt.style.display = 'none';
      getNotReadNotify().then(data => {
        let str ='';
        if(data.length === 0){
          str = `<div class="notifyContent-inc">새로운 알림이 없습니다.</div>`
        }
        else{
          data.forEach(notify =>{
            str +=
                    `<div class="notifyContent-inc">${notify.content}</div>`
          });
        }
        newNotifyList.innerHTML = str;
        readNotify();
      });
    })
  }
  //모달 닫기
  function closeNotifyModal() {
    document.getElementById('notifyModal').style.display = 'none';
  }

  //알림수 가져오기
  async function countNotify(){
    const result = await axios.get(`/notify/count`);
    return result.data;
  }
  //알림 버튼 클릭시 알림수 초기화
  async function readNotify(){
    const result = await axios.put(`/notify/readNotify`)
  }
  //읽지 않은 알림 가져오기
  async function getNotReadNotify(){
    const result = await axios.get(`/notify/getNewNotify`)
    return result.data;
  }
</script>

<th:block layout:fragment="script">

</th:block>

</body>
</html>
