<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/inc.html}">


<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <style>
    @import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
    .normal     { font-weight: 400 }
    .bold       { font-weight: 700 }
    .bolder     { font-weight: 800 }
    .light      { font-weight: 300 }

    html {
      padding:0px;
      margin:0px;
      font-family: 'NanumSquare', sans-serif;
      position:relative;
    }
    #wrap {
      margin:0px;
      padding:0px;
      width:100%;
    }
    .container {
      width:1240px;
      margin:0 auto;
    }
    a,img {
      border:0px;
      text-decoration:none;
    }
    ul,li {
      list-style:none;
      padding:0px;
      margin:0px;
    }
    h1 {
      color:#525252;
      font-size:40px;
      font-weight:100;
      text-align:center;
      margin:0px;
      margin-top:193px;
    }
    h1 > b {
      font-weight:900;
    }

    #best_search {
      width:740px;
      margin:0;
      text-align:center;
    }
    #best_search li,dd {
      display:inline-block;
      vertical-align:middle;
    }
    button {
      width:121px;
      background-color:#0085e2;
      color:#fff;
      border:0px;
      height:63px;
      margin-left:-5px;
      padding:0px;
      font-size:18px;
    }
    #best_search li p {
      color:#393939;
      font-size:17px;
      font-weight:bold;
      margin:0px;
      padding-right:30px;
    }
    dd {
      margin:0px;
    }
    dd  a.t{
      cursor:pointer;
      margin:0px;
      color:#4b4b4b;
      text-overflow:ellipsis;
      overflow:hidden;
      width:94px;
      white-space:nowrap;
      display:inline-block;
      font-size:17px;
      text-align:left;
      padding-right:13px;
      font-weight:700;
      vertical-align:middle;
    }
    dd .num {
      background-color:#4b4b4b;
      color:#fff;
      font-size:10px;
      margin-right:10px;
      vertical-align:middle;
      width:18px;
      height:18px;
      float:left;
      line-height:18px;
      text-align:center;
    }
    .best_add {
      border:1px solid #bebebe;
      color:#4b4b4b;
      padding:0px 4px;
      margin-left:10px;
      margin-bottom: 14px;
    }
  </style>
</head>


<div layout:fragment="content">

  <form action="/mentoring/list" method="get">
    <div id="wrap">
      <div class="container">
        <ul id="best_search">
          <li style="margin-bottom: 2%;margin-right: 1% "><button type="button" class="btn btn-secondary">Language Ranking</button></li>
          <li>
            <dl class="time1">
              <dd><a class="t" href="#"><div class="num">1</div>Python</a></dd>
              <dd><a class="t" href="#"><div class="num">2</div>Java</a></dd>
              <dd><a class="t" href="#"><div class="num">3</div>JavaScript</a></dd>
              <dd><a class="t" href="#"><div class="num">4</div>C/C++</a></dd>
              <dd><a class="t" href="#"><div class="num">5</div>C#</a></dd>
            </dl>
            <dl class="time2" style="display:none;">
              <dd><a class="t" href="#"><div class="num">6</div>PHP</a></dd>
              <dd><a class="t" href="#"><div class="num">7</div>R</a></dd>
              <dd><a class="t" href="#"><div class="num">8</div>TypeScript</a></dd>
              <dd><a class="t" href="#"><div class="num">9</div>Swift</a></dd>
              <dd><a class="t" href="#"><div class="num">10</div>Objective-C</a></dd>
            </dl>
            <dl class="time3" style="display:none;">
              <dd><a class="t" href="#"><div class="num">11</div>Rust</a></dd>
              <dd><a class="t" href="#"><div class="num">12</div>Go</a></dd>
              <dd><a class="t" href="#"><div class="num">13</div>Kotlin</a></dd>
              <dd><a class="t" href="#"><div class="num">14</div>Matlab</a></dd>
              <dd><a class="t" href="#"><div class="num">15</div>Ada</a></dd>
            </dl>
            <dl class="time4" style="display:none;">
              <dd><a class="t" href="#"><div class="num">16</div>Ruby</a></dd>
              <dd><a class="t" href="#"><div class="num">17</div>Dart</a></dd>
              <dd><a class="t" href="#"><div class="num">18</div>Powershell</a></dd>
              <dd><a class="t" href="#"><div class="num">19</div>VBA</a></dd>
              <dd><a class="t" href="#"><div class="num">20</div>Scala</a></dd>
            </dl>
          </li>
          <li>
            <a class="best_add ad1" style="cursor:pointer" onClick="javascript:view('0')">></a>
            <a class="best_add ad2" onClick="javascript:view('1')" style="display:none;cursor:pointer" >></a>
            <a class="best_add ad3" onClick="javascript:view('2')" style="display:none;cursor:pointer" >></a>
            <a class="best_add ad4" onClick="javascript:view('3')" style="display:none;cursor:pointer" ><</a>
          </li>
        </ul>
      </div>
    </div>

    <table>
      <tr>
        <td width="100%" align="left">
          <select name="type" style="width: 30%" class="form-select form-select-sm mb-1 txt">
            <option value="l" th:selected="${pageRequestDTO.type=='l'}">사용 언어</option>
            <option value="r" th:selected="${pageRequestDTO.type=='r'}">지역</option>
            <option value="i" th:selected="${pageRequestDTO.type=='i'}">멘토 ID</option>
          </select> <input class="col-sm-4" name="keyword" type="text"/>
          <input type="submit" id="btnAdd" class="btn btn-primary" value="검색"/>
        </td>
        <!--                <td width="100%" align="right">-->
        <!--                    <th:block th:if="${#authentication.principal != 'anonymousUser'}">&lt;!&ndash; 회원 로그인 &ndash;&gt;-->
        <!--                        <th:block th:if="${#authentication.principal.getType() == 'tor'}"> &lt;!&ndash;멘토 로그인시&ndash;&gt;-->
        <!--                            <a href="/mentoring/register" id="mentorRegister" onclick="checkForm(); return false;" class="btn btn-primary">글쓰기</a>-->
        <!--                        </th:block>-->

        <!--                    </th:block>-->
        <!--                </td>-->
        <td>
          <th:block th:if="${#authentication.principal != 'anonymousUser'}"><!-- 회원 로그인 -->
            <p id="p1">
              <span class="badge bg-secondary" id="menteeID" style="margin-bottom: 10px">[[${#authentication.principal.username}]] 님 환영합니다.</span>
              <th:block th:if="${#authentication.principal.getType() == 'tor'}"> <!--멘토 로그인시-->
                <!--                                <a class="badge bg-primary room" th:href="@{/mentoring/mentorRoom}">내 멘토링 방으로</a><br><br>-->
                <span><a class="badge bg-primary room" th:href="@{/mentoring/mentorRoom}">내 멘토링 방으로</a></span>

                <a href="/mentoring/register" id="mentorRegister" onclick="checkForm(); return false;" class="badge bg-primary">멘토링 생성하기</a>
                <span id="isMentorMentoring" style="color: white">[[${isMentorMentoring}]]</span>

              </th:block>
              <th:block th:if="${#authentication.principal.getType() == 'tee'}"> <!--멘티 로그인시-->
                <a class="badge bg-primary room" th:href="@{/mentoring/menteeRoom}">참여중인 멘토링 방으로 이동</a>
                <br><span id="isMenteeMentoring" style="color: white">[[${isMenteeMentoring}]]</span>
              </th:block>

              <!--            <div th:text="${#authentication.principal.mentoring}"></div>-->
            </p>

          </th:block>

        </td>
      </tr>
    </table>
  </form>
  <div>

    <table class="table table-success">
      <tr>
        <th>번호</th>
        <th>멘토 ID</th>
        <th>멘티 ID</th>
        <th>지역</th>
        <th>멘토링 언어</th>
        <th>작성일</th>
        <th>사전만남여부</th>
        <th>온/오프라인</th>
        <th>가입하기</th>
      </tr>
      <tr th:each="dto:${responseDTO.dtoList}">
        <td>
          <th:block th:if="${#authentication.principal.getType() == 'tee'}"> <!--멘티 로그인시-->
            <a class="a1" style="color: black; text-decoration: none;" th:href="|@{/mentoring/recruit(mNo=${dto.mNo})}|">[[${dto.mNo}]]</a>
          </th:block>
          <th:block th:if="${#authentication.principal.getType() == 'tor'}"> <!--멘토 로그인시-->
            <a style="color: black; text-decoration: none;">[[${dto.mNo}]]</a>
          </th:block>
        </td>
        <td>[[${dto.mentor_id}]]</td>
        <td>[[${dto.mentee_id}]]</td>
        <td>[[${dto.region}]]</td>
        <td>[[${dto.devLanguage}]]</td>
        <td>[[${#temporals.format(dto.addDate, 'yyyy-MM-dd HH:mm')}]]</td>
        <td>[[${dto.meeting}]]</td>
        <td>[[${dto.on_off}]]</td>
        <td>

          <th:block th:if="${#authentication.principal != 'anonymousUser'}"><!-- 회원 로그인 -->
            <th:block th:if="${#authentication.principal.getType() == 'tee'}"> <!--멘티 로그인시-->
              <button class="btn btn-primary recruit" th:value="${dto.mNo}">가입하기</button>
            </th:block>
            <th:block th:if="${#authentication.principal.getType() == 'tor'}"> <!--멘토 로그인시-->
              <!--              <button class="btn btn-info recruit" th:value="${dto.mNo}">멘티전용(삭제예정)</button>-->
            </th:block>
          </th:block>
        </td>
      </tr>
    </table>

  </div>
  <!--  모달창-->
  <!--    <script type="text/javascript" th:src="@{/js/modalTest.js}"></script>-->
  <div class="modal registerModal" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Recruit Mentoring</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <!--          <a class="btn btn-info recruitBtn" th:each="dto:${responseDTO.dtoList}" th:href="|@{/mentoring/recruit(mNo=${dto.mNo})}|">가입하기</a>-->

          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--  모달창 끝-->

  <div class="float-end">
    <ul class="pagination flex-wrap">
      <li class="page-item" th:if="${responseDTO.prev}">
        <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
      </li>
      <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
        <li th:class="${responseDTO.page==i} ? 'page-item active' : 'page-item'">
          <a class="page-link" th:data-num="${i}">[[${i}]]</a>
        </li>
      </th:block>
      <li class="page-item" th:if="${responseDTO.next}">
        <a class="page-link" th:data-num="${responseDTO.end+1}">Next</a>
      </li>
    </ul>
  </div>
</div>

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<script layout:fragment="script" th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    // 페이지가 완전히 로드된 후 실행할 코드 작성
    // 이벤트 핸들러를 여기에 추가
    document.querySelector('.pagination').addEventListener("click", function (e) {
      e.preventDefault();
      e.stopPropagation();

      const target = e.target;

      if (target.tagName !== 'A') return;

      const num = target.getAttribute("data-num");
      const formObj = document.querySelector("form");
      formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`;
      formObj.submit();


    });

    // modal
    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"));
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn");
    const closeRegisterBtn2 = document.querySelector(".btn-close");

    const modal_body = document.querySelector(".modal-body");
    const recs = document.querySelectorAll(".recruit");


    const menteeID = document.getElementById('menteeID'); // 현재 로그인한 멘티 ID
    console.log(menteeID.innerText);

    const registerMentor = document.getElementById('mentorRegister');
    if (document.getElementById('mentorRegister')) {
      if (document.getElementById('isMentorMentoring').innerText == "true") {

        if (document.getElementById('isMentorMentoring').innerText == "true") { // 가입하기 버튼 비활성화
          registerMentor.disabled = true;
          registerMentor.style.display = 'none';
        }

      }
    }
    // if (document.getElementById('isMentorMentoring').innerText == "false") {
    //     const roomLinks = document.querySelectorAll("a.room"); // 클래스명이 room인 모든 <a> 태그 선택
    //
    //     // 각 링크에 대한 이벤트 리스너 등록
    //     roomLinks.forEach(function(link) {
    //         link.addEventListener("click", function(event) {
    //             // href 속성의 기본 동작을 비활성화하여 링크가 클릭되지 않도록 함
    //             event.preventDefault();
    //
    //             // "먼저 멘토링을 생성/가입 해주세요!" 알림 창을 띄움
    //             alert("먼저 멘토링을 생성/가입 해주세요!");
    //         });
    //     });
    //
    //
    // }
    for (let i = 0; i < recs.length; i++) {
      let mNo = recs[i].parentNode.parentNode.firstChild.nextSibling;

      let mento_Id = recs[i].parentNode.parentNode.firstElementChild.nextElementSibling;
      let mentee_Id = recs[i].parentNode.parentNode.firstElementChild.nextElementSibling.nextElementSibling;
      let region = recs[i].parentNode.parentNode.firstElementChild.nextElementSibling.nextElementSibling.nextElementSibling;
      let lang = recs[i].parentNode.parentNode.firstElementChild.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling;

      let links = document.querySelectorAll(".a1");

      if (document.getElementById('isMenteeMentoring')) {
        if (document.getElementById('isMenteeMentoring').innerText == "true") {
          for (let i = 0; i < links.length; i++) {   // a 태그 비활성화
            links[i].onclick = function () {
              return false;
            };
          }

          if (document.getElementById('isMenteeMentoring').innerText == "true") { // 가입하기 버튼 비활성화
            recs[i].disabled = true;
            recs[i].style.display = 'none';
          }

        }
      }

      recs[i].addEventListener('click', function (event) {

        console.log(mentee_Id.innerText);

        modal_body.innerHTML = "";

        modal_body.innerHTML += `<button class="btn btn-primary recBtn" style="color: black">` + mNo.innerHTML + `번 멘토링 가입하기</button><br>`;
        modal_body.innerHTML += `멘토 아이디 : ` + mento_Id.innerHTML + `<br>`;
        modal_body.innerHTML += `참여 멘티 : ` + mentee_Id.innerHTML + `<br>`;
        modal_body.innerHTML += `지역 : ` + region.innerHTML + `<br>`;
        modal_body.innerHTML += `사용 언어 : ` + lang.innerHTML + `<br>`;


        // let recBtn = document.querySelectorAll('.recBtn');
        //
        // recBtn[i].addEventListener('click', function () {
        //   window.location.href = links[i].getAttribute('href');
        // });

        let recBtns = document.querySelectorAll('.recBtn');

        recBtns.forEach((button, index) => {
          button.addEventListener('click', function () {
            window.location.href = links[index].getAttribute('href');
          });
        });



        registerModal.show();

      });
    }


    closeRegisterBtn.addEventListener("click", function (e) {
      registerModal.hide();
    });
    closeRegisterBtn2.addEventListener("click", function (e) {
      // modal_body.innerHTML = "";
    });
  });


  // 언어순위
  function view(arg){
    $(".time1, .time2, .time3, .time4, .ad1, .ad2, .ad3, .ad4").css("display","none");
    if(arg=="0") {
      $(".time2, .ad2").css("display","block");
      viewcount = 1;
    }
    else if(arg=="1") {
      $(".time3, .ad3").css("display","block");
      viewcount = 2;
    }
    else if(arg=="2") {
      $(".time4, .ad4").css("display","block");
      viewcount = 3;
    }
    else if(arg=="3") {
      $(".time1, .ad1").css("display","block");
      viewcount = 0;
    }
  }
  var viewcount = 0;
  var rtcarousel = setInterval(function(){ view(viewcount) },4000);

  $("#best_search").mouseenter(function() {
    clearInterval(rtcarousel);
  });

  $("#best_search").mouseleave(function() {
    rtcarousel = setInterval(function(){ view(viewcount) },4000);
  });

  // 해당 테이블의 tr 요소들을 선택합니다.
  const tableRows = document.querySelectorAll(".table-success tr");

  // 각 행을 반복하며 값을 체크하여 변경합니다.
  tableRows.forEach(row => {
    const onMeetingCell = row.cells[6]; // 사전만남 여부 정보가 있는 셀 (0부터 시작하는 인덱스)
    const onMeetingValue = onMeetingCell.textContent.trim(); // 셀의 텍스트 값을 가져옵니다.

    // 사전만남 여부 값에 따라 표시를 변경합니다.
    if (onMeetingValue === "true") {
      onMeetingCell.textContent = "O";
    } else if (onMeetingValue === "false") {
      onMeetingCell.textContent = "X";
    }
  });

  // 각 행을 반복하며 값을 체크하여 변경합니다.
  tableRows.forEach(row => {
    const onOffCell = row.cells[7]; // 온/오프라인 정보가 있는 셀 (0부터 시작하는 인덱스)
    const onOffValue = onOffCell.textContent.trim(); // 셀의 텍스트 값을 가져옵니다.

    // 온/오프라인 값에 따라 표시를 변경합니다.
    if (onOffValue === "true") {
      onOffCell.textContent = "온라인";
    } else if (onOffValue === "false") {
      onOffCell.textContent = "오프라인";
    }
  });
</script>

</div>
</html>