<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/inc.html}">

<div layout:fragment="content">


    <div class="input-group mb-3">
        <span class="input-group-text">공지글 번호</span>
        <input type="text" th:value="${dto.num}" class="form-control" readonly>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">제목</span>
        <input type="text" th:value="${dto.title}" class="form-control" readonly>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">내용</span>
        <div class="form-control col-sm-5" style="word-break: break-all" th:utext="${dto.content}">
        </div>
    </div>
    <th:block th:if="${#authentication.principal.getType() == 'tor'}"> <!--멘토 로그인시-->
            <button id="toggleFormButton" type="button" class="btn btn-secondary">공지 수정</button>
    </th:block>
    <th:block th:if="${#authentication.principal.getType() == 'tor'}"> <!--멘토 로그인시-->
        <a href="/mentoring/mentorRoom"><button class="btn btn-primary">이전으로</button></a>
    </th:block>
    <th:block th:if="${#authentication.principal.getType() == 'tee'}"> <!--멘토 로그인시-->
        <a href="/mentoring/menteeRoom"><button class="btn btn-primary">이전으로</button></a>
    </th:block>


    <br>

<!--    공지사항 수정 폼-->
    <form style="display: none;" id="myForm" th:action="@{/mentoring/noticeModify(num=${dto.num})}" method="post">
        <br>
        <div class="form-group row">
            <label class="col-sm-2 control-label" >제목</label>
            <div class="col-sm-3">
                <input name="title" type="text" class="form-control" th:value="${dto.title}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" >내용</label>
            <textarea class="form-control col-sm-5" cols="50" rows="5" name="content" id="content"
                      style="width: 500px; height: 300px;" th:utext="${dto.content}"></textarea>
        </div>
        <div class="form-group row" style="visibility: hidden">
            <label class="col-sm-2 control-label" >공지 번호</label>
            <div class="col-sm-3">
                <input type="text" name="num" th:value="${dto.num}" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary btn-submit" value="수정">
                <button type="button" class="btn btn-danger removeBtn2">삭제</button>
                <input type="reset" class="btn btn-primary" value=" 취소 ">
            </div>
        </div>

    </form>




    <!-- 댓글 -->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4">
                <button class="btn btn-info addReplyBtn">댓글 작성하기</button>
            </div>
            <h4>댓글 목록</h4>
            <ul class="list-group replyList">

            </ul>
        </div>
        <div class="row mt-3">
            <div class="col">
                <ul class="pagination replyPaging">

                </ul>
            </div>
        </div>

        <script src="/js/noticeReply.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </div> <!-- 댓글 목록 끝 -->

    <div class="modal registerModal" tabindex="1"> <!-- 댓글 등록 모달 창 시작 -->

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Register Reply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text">댓글 내용</span>
                        <input type="text" class="form-control replyText">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">글쓴이</span>
                        <input type="text" class="form-control replyWriter">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary registerBtn">등록</button>
                    <button type="button" class="btn btn-outline-dark closeRegisterBtn">닫기</button>
                </div>

            </div>

        </div>

    </div> <!-- register modal end -->

    <div class="modal modifyModal" tabindex="-1"> <!-- 댓글 등록 모달 창 시작 -->

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title replyHeader">reply num for modify</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>

                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Reply Text</span>
                        <input type="text" class="form-control modifyText">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info modifyBtn">Modify</button>
                    <button type="button" class="btn btn-danger removeBtn">Remove</button>
                    <button type="button" class="btn btn-outline-dark closeModifyBtn">Close</button>
                </div>

            </div>

        </div>

    </div> <!-- register modal end -->

</div>
<script layout:fragment="script" th:inline="javascript">
    const num = [[${dto.num}]]; // 함수에서 사용할 게시글 번호
    // console.log(get1(num)); // 리플 데이터들을 받아오는지 확인

    /** ====================================================================================================== **/
    /** ====================================================================================================== **/
    /** ====================================================================================================== **/

    // 댓글 관련 작업을 위해 필요한 데이터를 받아오고
    // 그 데이터를 바탕으로 목록 및 페이지 처리를 하는 함수 영역

    // getList()를 호출하는 함수와 현재 페이지가 로딩되면 해당 함수를 호출하도록 설정
    function printReplies(page, size, goLast) {
        getList({num, page, size, goLast}).then( // getList axios 함수를 이용해 넘겨준 정보로 페이징된 데이터를 받아옴
            data => {  console.log(data);
                printList(data.dtoList); // 목록 처리. 받아온 data의 dtoList를 넘겨서 넘긴 데이터로 댓글 목록 교체
                printPages(data); // 페이지 처리. 받아온 data의 페이지 정보(sno, page, size, prev, next ...)를 넘겨서 페이지 a 태그 생성
            }
        ).catch(e => {
            console.error();
        })
    }

    printReplies(1, 10, true); // 무조건 댓글 맨 뒷페이지로 시작

    const replyList = document.querySelector('.replyList'); // 댓글 목록 DOM
    const replyPaging = document.querySelector('.replyPaging'); // 페이지 목록 DOM

    /** ====================================================================================================== **/
    /** ====================================================================================================== **/
    /** ====================================================================================================== **/

        // 댓글 생성 관련 영역

        // 댓글 생성 폼
    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal")); // 댓글 생성폼을 가진 모달 DOM

    // registerModal의 변수들
    const registerBtn = document.querySelector(".registerBtn"); // 댓글 생성폼 모달의 댓글 등록 버튼 DOM
    const replyText = document.querySelector(".replyText"); // 댓글 생성폼 모달의 등록할 댓글의 텍스트 DOM
    const replyWriter = document.querySelector(".replyWriter"); // 댓글 생성폼 모달의 작성자 텍스트 DOM
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn"); // 댓글 생성폼 모달의 닫기 버튼 DOM

    // 댓글 생성폼 등장 이벤트
    document.querySelector(".addReplyBtn").addEventListener("click", function (e){  // 댓글 생성 버튼을 눌렀을 때
        registerModal.show(); // 댓글 생성폼 모달 등장
    })

    // 댓글 생성폼 숨김 이벤트
    closeRegisterBtn.addEventListener("click", function (e){ // 댓글 생성폼 모달에서 닫기 버튼을 눌렀을 때
        registerModal.hide(); // 댓글 생성폼 모달 숨김
    })

    // 댓글 생성 후 목록 새로고침 이벤트
    registerBtn.addEventListener("click", function (e){ // 댓글 생성폼 모달에서 등록 버튼을 눌렀을 때
        const replyObj = {num:num, replyText:replyText.value, replyWriter:replyWriter.value}; // 필드이름으로 태그의 값을 JSON 형태로 넘겨줌
        addReply(replyObj).then(result => { // 댓글 생성 컨트롤러에 접근하는 함수를 호출해서 전달한 num, replyText, replyWriter로 새로운 댓글 생성
            alert(result.data.rno); // 생성된 댓글의 rno 알림
            registerModal.hide(); // 댓글 생성폼 모달 숨김
            replyText.value = ''; // 댓글 생성폼 모달의 댓글 텍스트 DOM 밸류 초기화
            replyWriter.value = ''; // 댓글 생성폼 모달의 작성자 텍스트 DOM 밸류 초기화
            printReplies(1, 10, true); // 새로운 댓글이 등록됐으니 댓글 목록을 비동기방식으로 갱신
        }).catch(e => {
            alert("Exception...");
        })
    });

    /** ====================================================================================================== **/
    /** ====================================================================================================== **/
    /** ====================================================================================================== **/

        // 댓글 수정 관련 영역

        // 댓글 수정 폼 관련 변수들
    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal")); // 댓글 수정폼을 가진 모달 DOM
    const replyHeader = document.querySelector(".replyHeader"); // 댓글 수정폼 모달의 수정할 댓글의 번호를 표시하는 DOM
    const modifyText = document.querySelector(".modifyText"); // 댓글 수정폼 모달의 등록할 댓글의 텍스트 DOM
    const modifyBtn = document.querySelector(".modifyBtn"); // 댓글 수정폼 모달의 댓글 수정 버튼 DOM
    const removeBtn = document.querySelector(".removeBtn"); // 댓글 수정폼 모달의 댓글 삭제 버튼 DOM
    const closeModifyBtn = document.querySelector(".closeModifyBtn"); // 댓글 수정폼 모달의 닫기 버튼 DOM


    // 댓글목록에서 특정 댓글을 눌렀을 때 발생하는 이벤트
    replyList.addEventListener("click", function (e){
        e.preventDefault(); // a, sumbit 태그의 고유동작 이동 이벤트를 멈춤
        e.stopPropagation(); // 상위 엘리먼트들에게 이벤트가 전달되지 않도록 막아줌
        const target = e.target;
        if(!target || target.tagName != 'SPAN') { // 타겟 본인이 아니거나 타겟의 태그네임이 span태그가 아니라면 취소
            return;
        }

        const rno = target.getAttribute("data-rno"); // 수정을 위해 선택한 댓글의 rno 값을 가진 DOM
        if(!rno) { // rno가 존재하지 않는다면 취소
            return;
        }

        // 특정 댓글을 클릭했을 때 해당 댓글을 비동기 방식으로 조회해서 해당 정보를 채워 모달창을 띄우는 이벤트
        getReply(rno).then(reply => { // 댓글의 내용을 모달창에 채워서 보여줌.
            console.log(reply);
            replyHeader.innerHTML = reply.rno; // 댓글 수정폼 모달의 수정할 댓글의 번호를 표시하는 DOM에 수정중인 댓글 번호 표시
            modifyText.value = reply.replyText; // 댓글 수정폼 모달의 수정할 댓글의 기존 내용을 가져옴
            modifyModal.show(); // 댓글 수정폼 등장
        }).catch(e => alert('error'));

    });

    // 댓글 수정폼 모달에서 수정 버튼을 클릭했을 때 이벤트
    modifyBtn.addEventListener("click", function (e) { // 댓글 수정 버튼을 눌렀을 때
        // 수정할 댓글의 게시글 번호, 댓글의 고유 번호, 댓글의 수정할 텍스트를 JSON 형태로 담음
        const replyObj = {num:num, rno:replyHeader.innerHTML, replyText:modifyText.value};
        modifyReply(replyObj).then(result => { // 댓글 수정 컨트롤러에 접근하는 함수를 호출해서 전달한 bno, rno, replyText로 댓글을 수정함
            alert(result.rno + ' 댓글이 수정되었습니다.'); // 수정하고 받은 결과값에서 rno를 가져와서 댓글의 고유번호와 함께 수정되었다는 알림
            modifyText.value = ''; // 수정폼 모달의 텍스트를 비워줌
            modifyModal.hide(); // 수정폼 모달을 숨김
            printReplies(page, size); // 다시 맨 뒷 페이지로 댓글 목록 갱신
        }).catch(e => {
            console.log(e);
        })
    })

    // 댓글 수정폼 모달에서 닫기 버튼을 클릭했을 때 모달창을 닫아주는 이벤트
    closeModifyBtn.addEventListener("click", function (e){ // 댓글 수정폼 모달에서 닫기 버튼을 눌렀을 때
        modifyModal.hide(); // 댓글 수정폼 모달 숨김
    })

    // 댓글 수정폼 모달에서 삭제 버튼을 클릭했을 때 삭제해주는 이벤트
    removeBtn.addEventListener("click", function (e) {
        removeReply(replyHeader.innerHTML).then(result => { // 비동기 방식으로 리플을 삭제해주는 함수에 rno를 전달해서 결과값을 받아옴
            alert(result.rno + " 번의 댓글이 삭제되었습니다.") // 삭제된 rno와 함께 삭제되었다는 알림 메시지 띄움.
            modifyText.value = ''; // 수정폼의 modifyText.value를 비워줌
            modifyModal.hide(); // 그리고는 다시 수정폼을 숨김
            page = 1; // 이 부분이 없으면 원래 페이지로 돌아가는데, 삭제를 했으니 1번째 페이지로 가게끔 설정함.
            printReplies(page, size); // 첫 번째 페이지 기준으로 다시 댓글 목록을 갱신
        }).catch(e => {
            console.log(e);
        })
    })

    /** ====================================================================================================== **/
    /** ====================================================================================================== **/
    /** ====================================================================================================== **/

        // a 태그로 페이지 이동 관련 영역

        // a 태그를 눌렀을 때 페이지 이동 이벤트
    let page = 1; // 댓글 목록을 가져오는 비동기 함수에게 전달할 페이지 변수
    let size = 10; // 댓글 목록을 가져오는 비동기 함수에게 전달할 사이즈 변수

    replyPaging.addEventListener("click", function (e){
        e.preventDefault(); // a, sumbit 태그의 고유동작 이동 이벤트를 멈춤
        e.stopPropagation(); // 상위 엘리먼트들에게 이벤트가 전달되지 않도록 막아줌

        const target = e.target;

        if(!target | target.tagName != 'A') { // 타겟 본인이 아니거나 타겟의 태그네임이 a태그가 아니라면 취소
            return;
        }

        const pageNum = target.getAttribute("data-page"); // 선택한 a 태그의 페이지 번호를 가져옴
        page = pageNum; // 변수에 현재 수정할 댓글의 페이지 번호를 담음
        console.log(page);
        printReplies(page, size); // 수정한 댓글의 페이지 번호로 댓글 목록 갱신
    })

    function printList(dtoList) { // 댓글 목록을 dtoList를 전달받아 출력할 수정폼
        let str = '';
        if(dtoList && dtoList.length > 0) {
            for(const dto of dtoList) { // dtoList를 순회하면서 댓글마다 아래에 폼에 담아 HTML 요소로 추가
                str += ` <li class="list-group-item d-flex replyItem">
                   <span class="col-2">${dto.rno}</span>
                   <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
                   <span class="col-2">${dto.replyWriter}</span>
                   <span class="col-2">${dto.regDate}</span>
                  </li>`
            }
        }
        replyList.innerHTML = str;
    }


    function printPages(data) { // 페이지 목록 출력
        // pagination
        let pageStr = ''; // 페이지를 이동하기 위한 a 태그들을 담을 변수
        if(data.prev) { // 받아온 data의 prev 값이 true 라면 이전 버튼 활성화
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`;
        }
        for(let i = data.start; i <= data.end; i++) {
            // 현재 페이지면 active 클래스 추가
            pageStr += `<li class="page-item ${i === data.page ? "active" : ""}">
                    <a class="page-link" data-page="${i}">${i}</a></li>`;
        }
        if(data.next) { // 받아온 data의 next 값이 true 라면 다음 버튼 활성화
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
        }
        console.log(pageStr);
        replyPaging.innerHTML = pageStr; // 데이터를 전달받아 완성된 페이지 이동 a 태그들을 HTML 요소로 추가

    }

    const toggleFormButton = document.getElementById('toggleFormButton');
    const myForm = document.getElementById('myForm');
    const formObj = document.querySelector("#myForm");
    let formVisible = false;

    toggleFormButton.addEventListener('click', function() {
        formVisible = !formVisible;
        if (formVisible) {
            toggleFormButton.innerText = '수정 폼 숨기기';
            myForm.style.display = 'block';
        } else {
            toggleFormButton.innerText = '공지 수정';
            myForm.style.display = 'none';
        }
    });

    document.querySelector(".removeBtn2").addEventListener("click", function (e) {
        if (confirm("정말로 삭제하시겠습니까?")) {
            // 삭제 동작 수행
            e.preventDefault();
            e.stopPropagation();

            formObj.action = `/mentoring/noticeRemove`;
            formObj.method = 'post';
            formObj.submit(); // 테스트 이후에 주석 해제
        } else {
            // 취소 동작 수행
            window.history.back();
        }



    });


</script>
</html>