<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/inc.html}">


<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recruit(멘토링 참여)</title>
</head>


<div layout:fragment="content">
  <br><br><br>


  <table class="table table-hover">
    <tr>
      <th>번호 </th>
      <th>멘토 ID</th>
      <th>멘티 ID</th>
      <th>지역</th>
      <th>주 언어</th>
      <th>작성일</th>
      <th>사전만남여부</th>
      <th>온/오프라인</th>

    </tr>
    <tr th:each="dto:${dto2}">
      <td>[[${dto.mNo}]]</td>
      <td>[[${dto.mentor_id}]]</td>
      <td id="mentees">[[${dto.mentee_id}]]</td>
      <td>[[${dto.region}]]</td>
      <td>[[${dto.devLanguage}]]</td>
      <td>[[${dto.addDate}]]</td>
      <td>[[${dto.meeting}]]</td>
      <td>[[${dto.on_off}]]</td>
    </tr>
  </table>

  <form th:id="frm" action="/mentoring/recruit" method="post" class="form-horizontal">

    <div class="form-group row">
      <label class="col-sm-2 control-label" ><b>멘토링 번호</b></label>
      <div class="col-sm-3">
        <input name="mNo" type="text" class="form-control" th:value="${dto2.mNo}" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 control-label" ><b>가입 멘티</b></label>
      <div class="col-sm-3">
        <input type="text" id="mentee" name="mentee_id" class="form-control" placeholder="mentee_id"
               th:value="${#authentication.principal.username}" readonly>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="button" class="btn btn-primary btn-submit" th:onclick="recruit()" value="멘토링 가입하기">
        <input type="button" class="btn btn-secondary" th:onclick="cancel()" value=" 취소 ">
      </div>
    </div>
  </form>

</div>

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<script layout:fragment="script" th:inline="javascript">
  const mentees = document.getElementById('mentees');
  console.log("mentees... " + mentees.innerText);

  const mentee = document.getElementById('mentee');
  console.log("mentee!.. " + mentee.value);

  function recruit() {
    if (confirm("정말 가입하시겠습니까 ? ")) {
      const form = document.getElementById("frm");
      if (mentees.innerText.includes(mentee.value)) {
        alert('이미 가입된 멘토링입니다!');
        return;
        window.history.back();
      }
      form.submit();

    } else {
      window.history.back();
    }
  }

  function cancel() {
    window.history.back();
  }

</script>

</div>
</html>