<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/inc.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Board Modify</title>
</head>
<body>
<div layout:fragment="content">
    <style>
        * { margin: 0; padding: 0; }
        ul, li { list-style: none; padding-left: 0; }
        a { text-decoration: none; }

        .post-container { background-color: #FFFFFF; padding: 100px 0; }
        .post-container .form-control {border: none; outline: none; font-size: 26px; }
        .post-container .form-control:focus { border: none;  box-shadow: none; }
        .post-body { min-height: 600px; }
    </style>

    <div class="post-container">
        <form action="/board/modify" method="post" name="frmModify" enctype="multipart/form-data">
            <input type="hidden" name="boardNo" th:value="${board.boardNo}">
            <h1><input type="text" class="form-control" name="title" th:value="${board.title}"></h1>
            <div class="post-header">
                <input type="hidden" name="writer" th:value="${writer}"> <!-- 시큐리티로 로그인된 사용자 정보 전달 -->
            </div>
            <hr>
            <div class="post-body">
                <textarea name="content" id="content" cols="50" rows="5" class="form-control" placeholder="content"
                          style="width: 100%; height: 600px;">[[${board.content}]]</textarea>
            </div>
            <div>
                <button type="button" id="submitBtn" class="btn btn-primary">등록</button>
                <a th:href="@{/board/view(boardNo=${board.boardNo})}">
                    <button type="button" id="prevBtn" class="btn btn-secondary">이전</button>
                </a>
            </div>
        </form>
        <script type="text/javascript" src="/smarteditor2/js/HuskyEZCreator.js" charset="utf-8"></script>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">

    <!-- 네이버 에디터 설정 -->
    document.addEventListener('DOMContentLoaded', function () {
        let oEditors = [];

        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "content", // id가 content인 요소를 지정.
            sSkinURI: "/smarteditor2/SmartEditor2Skin.html",
            fCreator: "createSEditor2"
        });

        const btnSubmit = document.getElementById('submitBtn');
        const frmModify = document.querySelector('form[name=frmModify]');

        // 등록 버튼 클릭시 이벤트
        btnSubmit.addEventListener('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);

            if (!frmModify.title.value) {
                alert("제목을 입력해주세요.");
                return;
            }

            frmModify.submit();
        });
    });

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i < errors.length; i++){
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }
</script>
</body>
</html>