<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/inc.html}">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Do+Hyeon&family=IBM+Plex+Sans+KR&family=Orbit&family=Poor+Story&display=swap" rel="stylesheet">
</head>
<style layout:fragment="style">
    #out_div {
        font-family: 'IBM Plex Sans KR', sans-serif;
        border-radius: 5px;
        border: 1px solid #c5c5c5;
        padding: 20px;
        width: 1000px;
        height: 900px;
    }
    .row{
        margin-bottom: 30px;
    }

    #zipcode {
        width: 300px;
        font-size: 20px;
    }
    #address01{
        font-size: 20px;
    }
    .btnFindZipcode {
        cursor: pointer;
        width: 130px;
        height: 40px;
    }

    .section_div{
        display: flex;
        margin-bottom: 70px;
    }
    .btn{
        border-radius: 0;
        background-color: #282828;
        border: 1px solid black;
        cursor: pointer;
        color: white;
    }

    .btn:hover{
        background-color:#002ead;
        color: white;
        transition: 0.4s;
    }
    .input_div {
        position: relative;
        width: 300px;
        margin-left: 50px;
    }

    .input_value {
        font-size: 15px;
        color: #222222;
        width: 300px;
        border: none;
        border-bottom: solid #aaaaaa 1px;
        padding-bottom: 10px;
        padding-left: 10px;
        position: relative;
        background: none;
        z-index: 5;
    }

    .input_value::placeholder { color: #aaaaaa; }
    .input_value:focus { outline: none; }

    .input_span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;  /* right로만 바꿔주면 오 - 왼 */
        background-color: #666;
        width: 0;
        height: 2px;
        border-radius: 2px;
        transition: 0.5s;
    }

    .input_name {
        position: absolute;
        color: #aaa;
        left: 10px;
        font-size: 20px;
        bottom: 8px;
        transition: all .2s;
    }

    .input_value:focus ~ .input_name, .input_value:valid ~ .input_name {
        font-size: 16px;
        bottom: 40px;
        color: #666;
        font-weight: bold;
    }

    .input_value:focus ~ .input_span, .input_value:valid ~ .input_span {
        width: 100%;
    }
</style>
<div layout:fragment="content" id="out_div">
    <form name="frmAdd" id="frmAdd" action="/member/register" method="post" class="form-horizontal">

        <!--이메일 아이디 시작-->
        <div class="section_div">
            <div class="form-group" style="width: 400px;">
                <div class="input_div">
                    <label for="email" id="mailTxt"></label>
                    <input name="mentee_id" class="input_value" id="email" type="text" required>
                    <label class="input_name">이메일</label>
                    <span class="input_span"></span>
                </div>
            </div>
            <div class="form-group" style="width: 400px; display: flex; align-items: center;">
                <button type="button" class="btn chkBtn" id="emailAuth" style="width: 120px;" disabled>이메일 인증</button>
                <button type="button" class="btn dupBtn" id="dupIdBtn" style="width: 100px; margin-left: 20px;">중복 확인</button>
            </div>
        </div>

        <div class="section_div" id="hidden_div" hidden>
            <div class="form-group" style="width: 400px;">
                <div class="input_div">
                    <input name="mail" type="text" id="authCode" class="input_value" required>
                    <label class="input_name">인증문자 입력</label>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn" id="keyChk" disabled>인증확인</button>
            </div>
        </div>

        <!--이메일 아이디 끝-->

        <!--비밀번호 시작-->
        <div class="section_div">
            <div class="form-group" style="width: 400px;">
                <div class="input_div">
                    <span id="pswCon"></span>
                    <input name="passwd" type="password" class="input_value passwd" id="passwd" required>
                    <label class="input_name">비밀번호</label>
                </div>
            </div>
            <div class="form-group">
                <div class="input_div">
                    <span id="chkTxt"></span>
                    <input name="passwdChk" type="password" class="input_value passwdChk" id="passChk" required>
                    <label class="input_name">비밀번호 확인</label>
                    <span class="input_span"></span>
                </div>
            </div>
        </div>
        <!--비밀번호 끝-->

        <div class="section_div">
            <!--이름 시작-->
            <div class="form-group" style="width: 400px;">
                <div class="input_div">
                    <input name="name" type="text" class="input_value name" maxlength="10" id="name" required>
                    <label class="input_name">이름</label>
                    <span class="input_span"></span>
                </div>
            </div>
            <!--이름 끝-->

            <!--닉네임 시작-->
            <div class="form-group">
                <div class="input_div">
                    <input name="nickname" type="text" class="input_value nickname" maxlength="20" id="nickname" required>
                    <label class="input_name">닉네임</label>
                    <span class="input_span"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn dupBtn" id="dupNicknameBtn" style="margin-left: 20px;">중복 확인</button>
            </div>
            <!--닉네임 끝-->
        </div>

        <!--주소 시작-->
        <div class="section_div">
            <div class="form-group" style="width: 400px;">
                <div class="input_div">
                    <input name="region" class="input_value" id="zipcode" size="10" maxlength="7" placeholder="우편주소" readonly required>
                </div>
            </div>
            <div class="form-group">
                <span type="button" class="btn btnFindZipcode">우편번호 검색</span>
            </div>
        </div>

        <div class="section_div">
            <div class="form-group" style="width: 400px;">
                <div class="input_div">
                    <input name="region" class="input_value" id="address01" size="70" maxlength="70" placeholder="상세주소1" readonly required>
                </div>
            </div>
            <div class="form-group">
                <div class="input_div">
                    <input name="region" class="input_value" id="address02" size="70" maxlength="70" required>
                    <label class="input_name">상세 주소 2</label>
                    <span class="input_span"></span>
                </div>
            </div>
        </div>
        <!--주소 끝-->

        <!--프로그래밍 언어 시작-->
        <div class="form-group row">
            <label class="col-sm-2 control-label">관심 프로그래밍 언어</label>
            <div class="col-sm-5">
                <select name="devLanguage" class="form-select lngName">
                    <option value="JAVA">JAVA</option>
                    <option value="Python">Python</option>
                    <option value="Javascript">Javascript</option>
                    <option value="C#">C#</option>
                </select>
            </div>
        </div>
        <!--프로그래밍 언어 끝-->

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" class="btn btn-primary btn-submit" value=" 등록 ">
                <input type="reset" class="btn btn-primary" value=" 취소 ">
            </div>
        </div>
    </form>
    <!--form end-->

    <!--카카오 주소 API Script-->
    <script src="/js/checkAxios.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
    <script src="/js/valid.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>

</div>
<script layout:fragment="script" th:inline="javascript">

        const dupIdBtn = document.getElementById('dupIdBtn'); // 이메일 중복 검사 버튼
        const dupNicknameBtn = document.getElementById('dupNicknameBtn'); // 닉네임 중복검사 버튼
        const btnSubmit = document.querySelector('.btn-submit'); // 회원가입 버튼
        const emailAuthBtn = document.getElementById('emailAuth'); // 이메일 인증 버튼
        const passwd = document.getElementById('passwd'); // 비밀번호 input 태그
        const authCode = document.getElementById('authCode'); // 인증문자 입력
        const keyChkBtn = document.getElementById('keyChk'); // 인증문자 확인 버튼
        const frmAdd = document.getElementById('frmAdd');
        const hiddenDiv = document.getElementById('hidden_div');

        emailAuthBtn.addEventListener('click', async function (e) { // 이메일 인증 버튼 이벤트
            const emailVal = document.getElementById('email').value;
            const regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

            if (emailVal === ''.trim()) {
                alert('이메일을 입력해 주세요.');

            } else if (!regExp.test(emailVal)) {
                alert('이메일 양식을 확인해 주세요');

            } else {
                await sendConfirmMail(emailVal);
                alert('인증문자가 전송되었습니다.');
                hiddenDiv.hidden = false;
                keyChkBtn.disabled = false;

            }

        });



        keyChkBtn.addEventListener('click', async function (e) { // 인증문자 확인 버튼 이벤트
            const authCode = document.getElementById('authCode');
            const confirmKey = authCode.value;
            const result = await matchConfirmKey(confirmKey);
            if (confirmKey === ''.trim()) {
                alert('인증문자를 입력해 주세요');
                btnSubmit.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
            } else if (!result) {
                alert('인증문자가 일치하지 않습니다.');
                btnSubmit.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
            } else if (result) {
                alert('인증되었습니다.');
                authCode.readonly = true;
                keyChkBtn.disabled = true;
            }
        });


        dupIdBtn.addEventListener('click', async function () { // 이메일 중복 검사

            const mentee_id = document.getElementById('email').value;
            const result = await checkId(mentee_id);
            const regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

            if (mentee_id === ''.trim()) {
                alert('이메일을 입력해 주세요.');
                btnSubmit.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
            } else if (!result) {
                alert('이미 사용중인 이메일 입니다.');
                btnSubmit.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
            }else if (!regExp.test(mentee_id)) {
                alert('이메일 양식을 확인해 주세요');
                btnSubmit.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
            } else if (result) {
                console.log('사용가능');
                alert('사용 가능한 이메일 입니다.');
                emailAuthBtn.disabled = false;
            }
        });

        dupNicknameBtn.addEventListener('click', async function () { // 닉네임 중복 검사
            const nickname = document.getElementById('nickname').value;
            const result = await checkNickname(nickname);

            if (!result) {
                alert('이미 사용중인 닉네임 입니다.')
                btnSubmit.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
            } else if(nickname === ''.trim()) {
                alert('닉네임을 입력해 주세요');
                btnSubmit.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
            } else if (result) {

                alert('사용 가능한 닉네임 입니다.');

            }
        });


        passwd.addEventListener('focusout', function() {
            const passwdChk = document.querySelector('.passwdChk').value;
            const passwdVal = passwd.value;
            const pswCon = document.querySelector('#pswCon');
            const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,12}$/;
            const chkTxt = document.querySelector('#chkTxt');

            if (!passwordRegex.test(passwdVal)) {
                pswCon.innerHTML = '비밀번호는 영문 대소문자, 숫자, ' +
                    '특수문자(!,@,#,$,%,^,&,*)를 포함하여 8~12자 사이로 입력해주세요.';
                pswCon.style.color = '#333333';
                pswCon.style.fontWeight = 'bold';
                pswCon.style.fontSize = '12px';
                pswCon.style.position = 'absolute';
                pswCon.style.paddingTop = '40px';
                pswCon.style.zIndex = '-1';
                pswCon.style.width = '400px'
                return false;
            } else if (passwdVal === '') {
                chkTxt.innerHTML = '비밀번호가 일치하지 않습니다.';
                chkTxt.style.color = '#FA3E3E';
                chkTxt.style.fontWeight = 'bold';
                chkTxt.style.fontSize = '13px';
                chkTxt.style.position = 'absolute';
                chkTxt.style.paddingTop = '40px';
                chkTxt.style.zIndex = '-1';
                pswCon.style.width = '400px'
            } else {
                pswCon.innerHTML = '';
            }
        });

        const passwdChk = document.querySelector('.passwdChk');
        passwdChk.addEventListener('keyup', function () {
            const passwdChkVal = document.querySelector('.passwdChk').value;
            const passwdVal = document.querySelector('.passwd').value;
            const chkTxt = document.querySelector('#chkTxt');
            const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,12}$/;

            if (passwdVal !== passwdChkVal) {
                chkTxt.innerHTML = '비밀번호가 일치하지 않습니다.';
                chkTxt.style.color = '#FA3E3E';
                chkTxt.style.fontWeight = 'bold';
                chkTxt.style.fontSize = '13px';
                chkTxt.style.position = 'absolute';
                chkTxt.style.paddingTop = '40px';
                chkTxt.style.zIndex = '-1';

            } else if (!passwordRegex.test(passwdVal) || !passwordRegex.test(passwdChkVal)) {
                chkTxt.innerHTML = '비밀번호 양식을 확인해주세요.';
                chkTxt.style.color = '#FA3E3E';
                chkTxt.style.fontWeight = 'bold';
                chkTxt.style.fontSize = '13px';
                chkTxt.style.position = 'absolute';
                chkTxt.style.paddingTop = '40px';
                chkTxt.style.zIndex = '-1';

            } else if (passwdVal === passwdChkVal && passwdVal !== '') {
                chkTxt.innerHTML = '비밀번호가 일치합니다';
                chkTxt.style.color = '#0D6EFD';
                chkTxt.style.fontWeight = 'bold';
                chkTxt.style.fontSize = '13px';
                chkTxt.style.position = 'absolute';
                chkTxt.style.paddingTop = '40px';
                chkTxt.style.zIndex = '-1';
            }
        });

        btnSubmit.addEventListener('click', async function (e) { // 필수 요소 유효성 검사
            const passwdVal = document.getElementById('passwd').value; // 비밀번호
            const zipcodeVal = document.getElementById('zipcode').value; // 주소
            const nicknameVal = document.getElementById('nickname').value; // 닉네임
            const nameVal = document.getElementById('name').value; // 이름
            const authCodeVal = authCode.value;
            const emailVal = document.getElementById('email').value;
            if (emailVal === ''.trim()) {
                alert('이메일을 입력해 주세요');
                e.preventDefault();
                e.stopPropagation();
                return;
            }
            const result = await lastCheck(emailVal, nicknameVal);
            const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,12}$/;
            const regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

            const result2 = await matchConfirmKey(authCodeVal);

            // 회원 가입 유효성 검사
            if (!regExp.test(emailVal)) {
                alert('이메일 양식을 확인해 주세요');
                e.preventDefault();
                e.stopPropagation();
                return;

            } else if (passwdVal === ''.trim()) { // 비밀번호 비어있으면

                alert('비밀번호를 입력해 주세요');
                e.preventDefault();
                e.stopPropagation();
                return;

            } else if (!passwdVal === passwdChk.value || !passwordRegex.test(passwdVal)) {
                // 비밀번호와 재확인이 같지 않거나 양식에 맞지 않게 했다면

                alert('비밀번호 재확인 해주세요.');
                e.preventDefault();
                e.stopPropagation();
                return;

            } else if (zipcodeVal === ''.trim()) { // 주소가 비어 있으면

                alert('주소를 입력해 주세요');
                e.preventDefault();
                e.stopPropagation();
                return;

            } else if (nicknameVal === ''.trim()) { // 닉네임이 비어 있으면

                alert('닉네임을 입력해 주세요');
                e.preventDefault();
                e.stopPropagation();
                return;

            } else if (nameVal === ''.trim()) { // 이름이 비어 있으면

                alert('이름을 입력해 주세요');
                e.preventDefault();
                e.stopPropagation();
                return;

            } else if (authCodeVal === ''.trim()) { // 인증문자가 비어 있으면

                alert('이메일 인증을 진행해 주세요.');
                e.preventDefault();
                e.stopPropagation();
                return;

            } else if (!result2) {
                alert('인증문자를 확인해 주세요.');
                e.preventDefault();
                e.stopPropagation();
                return;

            } else if (result === 'emailFalse') { // 회원가입전에 이메일 값이 변경되면
                alert('이메일값이 변경되었습니다. 다시 이메일 인증해주세요.');
                e.stopPropagation();
                e.preventDefault();
                return;

            } else if (result === 'nicknameFalse') { // 회원가입전에 닉네임이 변경
                alert('닉네임값이 변경되었습니다. 다시 중복확인 해주세요');
                e.preventDefault();
                e.stopPropagation();
                return;

            }
            if (result) {
                frmAdd.submit();
            }

        });

</script>