<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/loginInc.html}">
<head>
    <link href="/css/resetPw.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,800" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>

<body class="align-middle" >
<div layout:fragment="content">
    <div class="container-fluid d-flex justify-content-center" style="height: 100vh;">
        <div class="outerDiv" style="width: 600px; height: 500px">
            <h1>비밀번호 재설정</h1>
            <!-- Links -->
            <section id="emailConfirm">
                <!-- email input -->
                <form id="fimResetPassword" action="/member/resetPassword" method="post">
                    <div class="middleDiv" style="margin-bottom: 20px">
                        <label>새로 사용할 비밀번호</label>
                        <div class="first-input input__block first-input__block" style="margin-bottom: 20px; width: 320px;">
                            <input name="modifyPw" type="password" placeholder="새로 사용할 비밀번호" class="input" id="modifyPw"/>
                        </div>
                        <span id="modifyPWTxt" class="chkTxt" style="font-size: 13px; position:absolute; margin-top: 70px"></span>
                    </div>
                    <div class="middleDiv" style="margin-bottom: 20px">
                        <!-- ConfirmKey Input -->
                        <label>비밀번호 확인</label>
                        <div class="input__block" style="margin-bottom: 20px; width: 320px;">
                            <input type="password" placeholder="비밀번호 확인" class="input" id="modifyPwChk"/>
                        </div>
                        <span id="modifyPwCheckTxt" class="chkTxt" style="font-size: 13px; position:absolute; margin-top: 70px"></span>
                    </div>
                    <div class="btnDiv" style="display: flex;">
                        <button type="reset" class="login_btn sendConfirmKey" style="width: 150px;">초기화</button>
                        <!-- Reset Password Btn -->
                        <button type="button" class="login_btn resetBtn" id="editPwBtn" style="width: 150px;" disabled>
                            비밀번호 재설정하기
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </div> <!--End Container-->

    <script id="rendered-js" src="/js/login.js"></script>
<!--    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>-->
</div>
<script layout:fragment="script" th:inline="javascript">

    const fimResetPassword = document.getElementById('fimResetPassword'); // 비밀번호 수정 form 태그

    const modifyPw = document.getElementById('modifyPw'); // 새로 사용할 비밀번호
    const modifyPwChk = document.getElementById('modifyPwChk'); // 새로 사용할 비밀번호 확인

    const modifyPWTxt = document.getElementById('modifyPWTxt'); // 새로 사용할 비밀번호 유효성 검사 텍스트
    const modifyPwCheckTxt = document.getElementById('modifyPwCheckTxt'); // 비밀번호 확인 유효성 검사 텍스트

    modifyPw.addEventListener('focusout', function (e) { // 새로 사용할 비밀번호 유효성 검사
        const mPwVal = modifyPw.value; // 비밀번호 값
        const pwRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,12}$/; // 비밀번호 양식

        if (!pwRegex.test(mPwVal) || mPwVal === ''.trim()) { // 비밀번호 양식이 맞지 않거나 비어있다면
            modifyPWTxt.innerHTML = '비밀번호는 영문 대소문자, 숫자, ' +
                '특수문자(!,@,#,$,%,^,&,*)를 포함하여 8~12자 사이로 입력해주세요.';
        } else { // 모든 유효성을 통과 했다면
            modifyPWTxt.innerHTML = '사용가능한 비밀번호 입니다.';
            modifyPWTxt.style.color = '#5c6ff1';
        }
    });

    modifyPwChk.addEventListener('keyup', function (e) { // 비밀번호 확인 유효성 검사
        const mPwChkVal = modifyPwChk.value; // 입력한 비밀번호 확인
        const mPWVal = modifyPw.value; // 입력한 비밀번호

        if (mPwChkVal !== mPWVal) { // 비밀번호와 비밀번호 확인이 다르다면
            modifyPwCheckTxt.innerHTML = '비밀번호가 일치하지 않습니다.'
            modifyPwCheckTxt.style.color = '#f64e4e';
        } else { // 일치한다면
            modifyPwCheckTxt.innerHTML = '비밀번호가 일치합니다.';
            modifyPwCheckTxt.style.color = '#5c6ff1';
            editPwBtn.disabled = false;
        }
    });

    const editPwBtn = document.getElementById('editPwBtn');
    editPwBtn.addEventListener('click', function (e) {
        console.log(fimResetPassword);
        fimResetPassword.submit();
    });

</script>
</body>
</html>