<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.mentors.chat.mapper.ChatRoomMapper">

    <!-- 채팅방 생성 -->
    <insert id="insertChatRoom" parameterType="kr.nomadlab.mentors.chat.dto.ChatRoomDTO"
            useGeneratedKeys="true" keyProperty="roomId">
        insert into chatRoom (roomId, name, mno, maxMembers) values (#{roomId}, #{name}, #{mno}, #{maxMembers})
    </insert>

    <!-- 채팅목록 추가 -->
    <insert id="insertChatList">
        insert into chatList (mno, roomId, role) values (#{mno}, #{roomId}, #{role})
    </insert>

    <!-- 채팅방 목록 조회 -->
    <select id="selectRoomList" resultType="kr.nomadlab.mentors.chat.dto.ChatRoomDTO">
        SELECT
            cr.*,
            COUNT(cl.clNo) - 1 AS currentMembers,
            cm.message AS lastMessage,
            cm.sendTime AS lastMessageTime,
            cm.mno
        FROM
            chatRoom AS cr
                LEFT JOIN
            chatList AS cl ON cr.roomId = cl.roomId
                LEFT JOIN
            chatMessages AS cm ON cr.roomId = cm.roomId
                JOIN (
                SELECT
                    roomId,
                    MAX(sendTime) AS maxSendTime
                FROM
                    chatMessages
                GROUP BY
                    roomId
            ) AS maxTimes ON cm.roomId = maxTimes.roomId AND cm.sendTime = maxTimes.maxSendTime
        WHERE
            cr.roomId IN (SELECT roomId FROM chatList WHERE mno = #{mno})
        GROUP BY
            cr.roomId
        ORDER BY
            lastMessageTime DESC;
    </select>

    <!-- 채팅방 조회 -->
    <select id="selectRoomById" resultType="kr.nomadlab.mentors.chat.dto.ChatRoomDTO">
        SELECT cr.*, m.startDate
        FROM chatRoom AS cr
                 LEFT JOIN main AS m ON cr.roomId = m.roomId
        WHERE cr.roomId = #{roomId};

    </select>

    <!-- 채팅방 참여회원 목록 조회 -->
    <select id="selectChatMembers" resultType="kr.nomadlab.mentors.chat.dto.ChatListDTO">
        SELECT cl.*, m.nickname
        FROM chatList AS cl
                 LEFT JOIN member AS m ON cl.mno = m.mno
        WHERE cl.roomId = "be9b7a5a-04db-47a5-98bf-6e5e7003b886";
    </select>

    <!-- 채팅방에 해당 회원 존재 여부 확인 -->
    <select id="findMemberInRoom" resultType="Boolean">
        SELECT COUNT(*) FROM chatList WHERE roomId = #{roomId} AND mno = #{mno}
    </select>

    <!-- 채팅방 나간회원 삭제 -->
    <delete id="deleteChatMember">
        DELETE FROM chatList WHERE roomId = #{roomId} and mno = #{mno}
    </delete>

    <!-- 채팅방 종료시 방장 mno를 0으로 변경 -->
    <update id="updateLeaderMno">
        UPDATE chatRoom SET mno = 0 WHERE roomId = #{roomId}
    </update>
</mapper>