<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.mentors.admin.mapper.CoinStatsMapper">
    <!--    코인 충전량 통계-->

    <insert id="insertCoinStats">
        insert into coinStats (amount, payDate) values (#{amount}, now());
    </insert>
    <select id="totalCoin" resultType="int">
        select IFNULL(SUM(amount),0) from coinStats
    </select>

    <!--날짜 별 구분-->
    <select id="daily_5" resultType="int">
        <![CDATA[
            SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
            WHERE payDate = DATE_ADD(CURDATE(), INTERVAL -5 DAY)
            AND payDate < CURDATE()
        ]]>
    </select>
    <select id="daily_4" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate = DATE_ADD(CURDATE(), INTERVAL -4 DAY)
          AND payDate < CURDATE()
        ]]>
    </select>
    <select id="daily_3" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate = DATE_ADD(CURDATE(), INTERVAL -3 DAY)
          AND payDate < CURDATE()
        ]]>
    </select>
    <select id="daily_2" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate = DATE_ADD(CURDATE(), INTERVAL -2 DAY)
          AND payDate < CURDATE()
        ]]>
    </select>
    <select id="daily_1" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate = DATE_ADD(CURDATE(), INTERVAL -1 DAY)
          AND payDate < CURDATE()
        ]]>
    </select>
    <select id="dailyD_day" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate = CURDATE()
        ]]>
    </select>

<!--    주간별 통계-->
    <select id="thisWeek" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate >= SUBDATE(CURDATE(), WEEKDAY(CURDATE()))
          AND payDate <= CURDATE()
        ]]>
    </select>
    <select id="week_1" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate >= SUBDATE(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 1 WEEK)
          AND payDate < SUBDATE(CURDATE(), WEEKDAY(CURDATE()))
        ]]>
    </select>
    <select id="week_2" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate >= SUBDATE(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 2 WEEK)
          AND payDate < SUBDATE(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 1 WEEK)
        ]]>
    </select>
    <select id="week_3" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate >= SUBDATE(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 3 WEEK)
          AND payDate < SUBDATE(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 2 WEEK)
        ]]>
    </select>
    <select id="week_4" resultType="int">
        <![CDATA[
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE payDate >= SUBDATE(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 4 WEEK)
          AND payDate < SUBDATE(SUBDATE(CURDATE(), WEEKDAY(CURDATE())), INTERVAL 3 WEEK)
        ]]>
    </select>

<!--    월 별 통계-->
    <select id="thisMonth" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(NOW()) AND MONTH(payDate) = MONTH(NOW())
    </select>
    <select id="month_1" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 1 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 1 MONTH)
    </select>
    <select id="month_2" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 2 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 2 MONTH)
    </select>
    <select id="month_3" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 3 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 3 MONTH)
    </select>
    <select id="month_4" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 4 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 4 MONTH)
    </select>
    <select id="month_5" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 5 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 5 MONTH)
    </select>
    <select id="month_6" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 6 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 6 MONTH)
    </select>
    <select id="month_7" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 7 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 7 MONTH)
    </select>
    <select id="month_8" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 8 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 8 MONTH)
    </select>
    <select id="month_9" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 9 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 9 MONTH)
    </select>
    <select id="month_10" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 10 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 10 MONTH)
    </select>
    <select id="month_11" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 11 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 11 MONTH)
    </select>
    <select id="month_12" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURRENT_DATE - INTERVAL 12 MONTH)
          AND MONTH(payDate) = MONTH(CURRENT_DATE - INTERVAL 12 MONTH)
    </select>

<!--    연도별 통계-->
    <select id="thisYear" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURDATE())
    </select>
    <select id="year_1" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURDATE()) -1
    </select>
    <select id="year_2" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURDATE()) -2
    </select>
    <select id="year_3" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURDATE()) -3
    </select>
    <select id="year_4" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURDATE()) -4
    </select>
    <select id="year_5" resultType="int">
        SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats
        WHERE YEAR(payDate) = YEAR(CURDATE()) -5
    </select>

<!--    특정 날짜 구하기-->
    <select id="byDate_m3" resultType="int">
        <if test="coinDate != null">
            SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats WHERE payDate = DATE_SUB(#{coinDate}, INTERVAL 3 DAY)
        </if>
    </select>
    <select id="byDate_m2" resultType="int">
        <if test="coinDate != null">
            SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats WHERE payDate = DATE_SUB(#{coinDate}, INTERVAL 2 DAY)
        </if>
    </select>
    <select id="byDate_m1" resultType="int">
        <if test="coinDate != null">
            SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats WHERE payDate = DATE_SUB(#{coinDate}, INTERVAL 1 DAY)
        </if>
    </select>
    <select id="byDate" resultType="int">
        <if test="coinDate != null">
            SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats WHERE payDate = #{coinDate}
        </if>
    </select>
    <select id="byDate_p1" resultType="int">
        <if test="coinDate != null">
            SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats WHERE payDate = DATE_ADD(#{coinDate}, INTERVAL 1 DAY)
        </if>
    </select>
    <select id="byDate_p2" resultType="int">
        <if test="coinDate != null">
            SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats WHERE payDate = DATE_ADD(#{coinDate}, INTERVAL 2 DAY)
        </if>
    </select>
    <select id="byDate_p3" resultType="int">
        <if test="coinDate != null">
            SELECT IFNULL(ROUND(AVG(amount)), 0) FROM coinStats WHERE payDate = DATE_ADD(#{coinDate}, INTERVAL 3 DAY)
        </if>
    </select>
</mapper>
