<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.mentors.exChange.mapper.ExchangeMapper">
    <insert id="insertExchange">
        INSERT INTO `exchange` (`exNo`, `mno`, `memberName`, `bank`, `accountNum`, `coin`, `amount`, isComplete, addDate, completeDate)
        values (#{exNo} ,#{mno}, #{memberName}, #{bank}, #{accountNum}, #{coin}, #{amount}, #{isComplete}, now(), #{completeDate})
    </insert>
</mapper>