<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.mentors.main.mapper.MentorReviewMapper">

    <!--수강평 작성-->
    <insert id="insert">
        insert into `mentorReview` (`mentorMno`, `menteeMno`, `score`, `review`)
        values (#{mentorMno}, #{menteeMno}, #{score}, #{review})
    </insert>

    <!--해당멘티가 작성한 수강평 목록-->
    <select id="menteeReviewList" resultType="kr.nomadlab.mentors.main.domain.MentorReviewVO">
        select * from `mentorReview` where `nickname` = #{nickname}
    </select>

    <!--해당 멘토에게 달린 수강평 목록 -->
    <select id="mentorReviewList" resultType="kr.nomadlab.mentors.main.domain.MentorReviewVO">
        select * from `mentorReview` where `mno` = #{mno}
    </select>

    <!--멘토에게 달린 수강평 수-->
    <select id="mentorReviewCount" resultType="int">
        select count(`review`) from `mentorReview` where `mentorMno` = #{mentorMno}
    </select>

    <select id="menteeReviewCount" resultType="int">
        select count(`review`) from `mentorReview` where `menteeMno` = #{menteeMno}
    </select>

</mapper>