<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.mentors.member.mapper.MentorMapper">
    <insert id="insert">
        INSERT INTO `mentor` (`memberId`, `region`, `nickname`, `devLanguage`, `fileNames`, `intro`, `rating`)
        VALUES (#{memberId}, #{region},  #{nickname}, #{devLanguage}, #{fileNames}, #{intro},  #{rating})
    </insert>
    
    <select id="selectAll" resultType="kr.nomadlab.mentors.member.domain.MentorVO">
        SELECT * FROM `mentor` ORDER BY `mno` DESC;
    </select>

    <select id="selectOne" resultType="kr.nomadlab.mentors.member.domain.MentorVO">
        SELECT * FROM `mentor` WHERE `memberId` = #{memberId};
    </select>

    <update id="update">
        UPDATE `mentor`
        SET `region` = #{region},
            `nickname` = #{nickname}, `devLanguage` = #{devLanguage},
            `fileNames` = #{fileNames}, `intro` = #{intro}
        WHERE `memberId` = #{memberId}
    </update>

    <delete id="delete">
        DELETE FROM `mentor` WHERE `memberId` = #{memberId}
    </delete>


</mapper>