<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.mentors.member.mapper.MenteeMapper">
    <insert id="insert">
        INSERT into `mentee` (`mno`,`memberId`, `nickname`, `devLanguage`)
        values (#{mno}, #{memberId}, #{nickname}, #{devLanguage})
    </insert>
    
    <select id="selectAll" resultType="kr.nomadlab.mentors.member.domain.MenteeVO">
        SELECT * from `mentee` order by `mno` DESC;
    </select>

    <select id="selectOne" resultType="kr.nomadlab.mentors.member.domain.MenteeVO">
        select * from `mentee` where `memberId` = #{memberId};
    </select>

    <select id="selectOneByMno" resultType="kr.nomadlab.mentors.member.domain.MenteeVO">
        select *
        from `mentee`
        where `mno` = ${mno};
    </select>

    <update id="update">
        update `mentee`
        set `name` = #{name}, `nickname` = #{nickname}, `devLanguage` = #{devLanguage}
        where `memberId` = #{memberId}
    </update>

    <delete id="delete">
        delete from `mentee` where `memberId` = #{memberId}
    </delete>

    <insert id="introWrite">
        update `mentee`
        set `intro` = #{intro}
        where `mno` = #{mno}
    </insert>

    <select id="getApplyMno" resultType="long">
        select `mno`
        from `mentorApply`
        where `mno` = #{mno}
    </select>

</mapper>