<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.progrow_project.mentoring.NoticeReplyMapper">

    <insert id="register" parameterType="kr.nomadlab.progrow_project.mentoring.NoticeReplyVO" useGeneratedKeys="true" keyProperty="rno">
        INSERT INTO `notice_reply`(`num`, `replyText`, `replyWriter`, `regDate`)
        VALUES (#{num}, #{replyText}, #{replyWriter}, NOW())
    </insert>
    <select id="read" resultType="kr.nomadlab.progrow_project.mentoring.NoticeReplyVO">
        select * from `notice_reply` where `rno` = #{rno}
    </select>

    <update id="modify">
        update `notice_reply` set `replyText`=#{replyText} where `rno`=#{rno}
    </update>

    <delete id="remove">
        delete from `notice_reply` where `rno`=#{rno}
    </delete>

    <select id="selectList" resultType="kr.nomadlab.progrow_project.mentoring.NoticeReplyVO">
        select * from `notice_reply` where `num` = #{num}
        order by `rno` asc limit #{skip}, #{size}
    </select>


    <select id="getCount" resultType="int">
        select count(*) from `notice_reply` where `num` = #{num}
    </select>


<!--    제발.. -->






    <select id="selectAll" resultType="kr.nomadlab.progrow_project.mentoring.NoticeReplyVO">
        select * from `notice_reply` where `num` = #{num}
        order by `rno` asc
    </select>


</mapper>