<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.mentors.payInfo.mapper.PayInfoMapper">
    <insert id="insertPayInfo">
        INSERT INTO `payInfo` (`mbNo`, `mentorMno`, `menteeMno`, `price`, `isComplete`, `addDate`)
        values (#{mbNo}, #{mentorMno}, #{menteeMno}, #{price}, false, now())
    </insert>
</mapper>