<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.mentors.payInfo.mapper.PayInfoMapper">
    <insert id="insertPayInfo" useGeneratedKeys="true" keyProperty="payInfoNo">
        INSERT INTO `payInfo` (`mbNo`, `mentorMno`, `menteeMno`, `price`, `isComplete`, `completeDate`, `addDate`)
        values (#{mbNo}, #{mentorMno}, #{menteeMno}, #{price}, false, #{completeDate} ,now())
    </insert>
    <select id="checkDate" resultType="kr.nomadlab.mentors.payInfo.vo.PayInfoVO">
            SELECT mbNo, mentorMno, sum(price) as price FROM payInfo WHERE DATE(completeDate) = CURDATE() - INTERVAL 1 DAY GROUP BY mbNo, MentorMno;
    </select>
    <update id="updateIsComplete">
        update `payInfo` set isComplete=true where mbNo=#{mbNo}
    </update>
    <select id="getPayInfo" resultType="kr.nomadlab.mentors.payInfo.vo.PayInfoVO">
        SELECT
            mbNo,
            CASE WHEN mbNo = 0 THEN price ELSE SUM(price) END AS price,
            isComplete,
            MAX(completeDate) AS completeDate
        FROM
            payInfo
        WHERE
            mentorMno = #{mno}
            AND price != 0
        GROUP BY
            CASE WHEN mbNo = 0 THEN payInfoNo ELSE mbNo END, isComplete
        ORDER BY
            CASE
                WHEN completeDate IS NULL THEN addDate
                ELSE completeDate
                END DESC
        LIMIT #{skip}, #{size}
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM `payInfo`
        where mentorMno = #{mno} and price != 0
    </select>
</mapper>