<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.progrow_project.boardQna.mapper.QBoardMapper">
    <!--insert mapper-->
    <insert id="insert">
        insert into qboard (id, hit, nickname, content, title, regDate, modDate)
        values(#{id}, 0, #{nickname}, #{content}, #{title}, NOW(), NOW())
    </insert>
    <!--update mapper-->
    <update id="update">
        update qboard  set title = #{title}, content = #{content}, modDate = #{modDate}
        where qnaBoardNo = #{qnaBoardNo}
    </update>

    <!--updateHit mapper-->
    <update id="updateHit">
        UPDATE qboard SET hit = hit + 1 WHERE qnaBoardNo = #{qnaBoardNo}
    </update>

    <!-- delete mapper-->
    <delete id="deleteOne">
        delete
        from qboard
        where qnaBoardNo;
    </delete>

    <!-- selectList mapper -->
    <select id="selectList" resultType="kr.nomadlab.progrow_project.boardQna.domain.QBoardListAllVO">
        select qb.qnaBoardNo, qb.title, qb.content, qb.regDate, qb.nickname, qb.hit, count(qr.qnaRno) AS 'qReplyCount' from qboard qb LEFT JOIN qreply qr on qb.qnaBoardNo = qr.qnaBoardNo
        <include refid="search"></include>
        group by qb.qnaBoardNo order by qr.qnaBoardNo desc limit #{skip}, #{size}
    </select>

    <!--    qb.fileNames,-->

    <!--    &lt;!&ndash; selectList mapper &ndash;&gt;-->
    <!--    <select id="selectList" resultType="kr.nomadlab.progrow_project.boardQna.domain.QBoardVO">-->
    <!--        SELECT * FROM qboard-->
    <!--        <include refid="search"/>-->
    <!--        ORDER BY qnaBoardNo DESC limit #{skip}, #{size}-->
    <!--    </select>-->

    <!-- selectOne mapper -->
    <select id="selectOne" resultType="kr.nomadlab.progrow_project.boardQna.domain.QBoardVO">
        SELECT * FROM qboard WHERE qnaBoardNo = #{qnaBoardNo}
    </select>

    <!-- getCount mapper-->
    <select id="getCount" resultType="int">
        select count(*) from qboard
        <include refid="search"/>
    </select>


    <!-- search sql-->
    <sql id="search">
        <where>
            <if test="types != null and types.length > 0">
                <foreach collection="types" item="type" open="(" close=")" separator=" OR">
                    <if test="type == 't'.toString()">
                        title like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'w'.toString()">
                        name like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'c'.toString()">
                        content like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

</mapper>
