<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.progrow_project.boardQnaReply.mapper.QReplyMapper">

    <!-- Qna 댓글 등록 -->
    <insert id="insertQR" parameterType="kr.nomadlab.progrow_project.boardQnaReply.domain.QReplyVO" useGeneratedKeys="true" keyProperty="qnaRno">
        INSERT INTO qreply (qnaBoardNo, id, content, nickName, regDate, modDate)
        VALUES (#{qnaBoardNo}, #{id}, #{content}, #{nickName}, NOW(), NOW())
    </insert>

    <!-- Qna 댓글 리스트 조회 -->
    <select id="selectListOfBoardQR" resultType="kr.nomadlab.progrow_project.boardQnaReply.domain.QReplyVO">
        SELECT * FROM qreply WHERE qnaBoardNo = #{qnaBoardNo} ORDER BY qnaRno ASC limit #{skip} , #{size}
    </select>

    <!-- Qna 댓글 전체 수 카운팅 -->
    <select id="getCountQR" resultType="int">
        SELECT COUNT(*) FROM qreply where qnaBoardNo = #{qnaBoardNo}
    </select>

    <!-- Qna 특정 댓글 조회 -->
    <select id="selectOneQR" resultType="kr.nomadlab.progrow_project.boardQnaReply.domain.QReplyVO">
        SELECT * FROM qreply WHERE qnaRno = #{qnaRno}
    </select>

    <!-- Qna 특정 댓글 수정 -->
    <update id="updateOneQR">
        UPDATE qreply SET content = #{content} where qnaRno = #{qnaRno}
    </update>

    <!-- Qna 특정 댓글 삭제 -->
    <delete id="deleteOneQR">
        DELETE FROM qreply WHERE qnaRno = #{qnaRno}
    </delete>




</mapper>