<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.progrow_project.boardReply.mapper.ReplyMapper">

    <insert id="register" parameterType="kr.nomadlab.progrow_project.boardReply.domain.ReplyVO" useGeneratedKeys="true" keyProperty="rno">
        insert into `reply`(`rno`, `content`, `nickname`, `boardNo`)
        values (#{rno}, #{content}, #{nickname}, #{boardNo})
    </insert>

    <select id="selectList" resultType="kr.nomadlab.progrow_project.boardReply.domain.ReplyVO">
        select * from `reply` where `boardNo` = #{boardNo}
        order by `rno` asc limit #{skip}, #{size}
    </select>

    <select id="read" resultType="kr.nomadlab.progrow_project.boardReply.domain.ReplyVO">
        select * from `reply` where `rno` = #{rno}
    </select>

    <update id="modify">
        update `reply` set `content` = #{content} where `rno` = #{rno}
    </update>

    <delete id="delete">
        delete from `reply` where `rno ` = #{rno}
    </delete>

    <select id="getCount" resultType="int">
        select count(*) from `reply` where `boardNo` = #{boardNo}
    </select>


</mapper>