<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nomadlab.progrow_project.member.mapper.SMemberMapper">

        <resultMap id="getMember" type="kr.nomadlab.progrow_project.member.domain.SMemberVO">
            <id property="mid" column="mid"></id>
            <result property="mpw" column="mpw"></result>
            <result property="del" column="del"></result>
            <result property="social" column="social"></result>
            <result property="type" column="type"></result>
            <result property="nickname" column="nickname"></result>
            <collection property="roleSet" javaType="java.util.HashSet" ofType="int">
                <result property="role_set" column="role_set"></result>
            </collection>
        </resultMap>
        <!--해당 회원테이블의 이메일의 정보와 회원Role테이블의 role_set을 조인 문으로 가져와서 resultMap에 넣어준다.-->



    <insert id="addMember">
        insert into `smember` (`mid`, `mpw`, `moddate`, `regdate`, `del`, `social`, `type`, `nickname`)
        VALUES (#{mid}, #{mpw}, now(), now(), 0, #{social}, #{type}, #{nickname})
    </insert>

    <insert id="addMemberRole">
        insert into `member_role_set` (`member_mid`, `role_set`)
        VALUES (#{member_mid}, #{role_set})
    </insert>

    <select id="getMemberId" resultMap="getMember" parameterType="String">

        select `m`.*, `mrs`.`role_set`
        from `smember` `m`
            left join `member_role_set` `mrs`
                on `m`.`mid` = `mrs`.`member_mid`
        where `m`.`mid` = #{mid}

    </select>

    <update id="updateMember">
        update `smember` set `moddate` = now(), `nickname` = #{nickname} where `mid` = #{mid}
    </update>

    <update id="updatePassword">
        update `smember` `m` set `m`.`mpw` = #{mpw} where `m`.`mid` = #{mid}
    </update>

    <select id="getMemberNickname" resultType="kr.nomadlab.progrow_project.member.domain.SMemberVO">
        select * from `smember` where `nickname` = #{nickname}
    </select>

    <delete id="deleteMember">
        delete from `smember` where `mid` = #{mid}
    </delete>


</mapper>